.posimagenes {
    padding-top: none;
  }
  
  .centro {
    text-align: center;
  }
  .titulo {
    font-size: 48px;
  }
  .card img {
    height: 200px;
  }
  .card a {
    color: rgb(20, 32, 30) !important;
    background-color: #7890b2 !important; /*color del boton*/
  }
  .card a:hover {
    background-color: #5eb0d9 !important; /*color del boton al selecionar*/
  }
  .card-body {
    background-color: #2a3942 !important;
  }
  .img-border {
    border-radius: 150px 150px;
  }
  .iconos ul {
    list-style-type: none;
  }
  
  /*Osman CSS si lo uso*/
