.posimagenes {
    padding-top: none;
  }
  
  .centro {
    text-align: center;
  }
  .titulo {
    font-size: 48px;
  }
  .card img {
    height: 200px;
  }
  .card a {
    color: rgb(218, 230, 227) !important;
    background-color: #a5c5e4 !important; /*color del boton*/
  }
  .card a:hover {
    background-color: #5eb0d9 !important; /*color del boton al selecionar*/
  }
  .card-body {
    background-color: #e1eff5 !important;
  }
  .img-border {
    border-radius: 150px 150px;
  }
  .iconos ul {
    list-style-type: none;
  }
  
  /*Osman CSS si lo uso*/
